{%  extends 'base.html' %}

{% block content %}
    <div>
    <div class=" ad-detail" >
    <h2 style="color: darkblue">Confirm deletion of Ad "{{ advert.title }}": </h2>
        <div class="alert d-flex justify-content-center" style="background-color: lavender">
            <form class="me-5" action="{% url "adverts:delete" advert.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-danger btn-m" type="submit"><i class="far fa-trash-alt"></i> delete</button>
            </form>
            <h4><a href="{% url "adverts:detail" advert.id %}" class="btn btn-m btn-outline-warning"><i class="fas fa-times"></i> cancel</a></h4>
        </div>

    </div>
    </div>

{% endblock content %}