{% extends 'base.html' %}
{% block content %}
    <h2 class="mt-3">Update {% if request.user == advert.author %}your {% endif %}Ad "{{ advert.title }}": </h2>
     <div class="ad-detail d-flex justify-content-center mt-0 w-50" style="background-image: linear-gradient(to right top, #051937, #123b63, #196290, #188cbe, #12b9eb);">
<form class="text-light w-50" method="post" action="{% url "adverts:update" advert.id %}">
    {% include "partial/form.html" %}
        <button class="btn create-btn" type="submit" value="create">update</button>
</form>

 </div>
{% endblock content %}