{%  extends 'base.html' %}
{% block title %}profile{% endblock title %}
{% block content %}
    <div class="row ad-detail mb-3">
        <div class="col-md-4 labels">
            <p>Username:</p>
            <p>Phone number:</p>

        </div>
        <div class="col-md-8 ">
            <p>{{ user_obj.username }}</p>
            {% if user_obj.profile %}
                <p>{{ user_obj.profile.phone_number }}<a class="ms-3 edit-icon" href="{% url 'accounts:update' user_obj.profile.id %}"><i class="far fa-edit"></i></a> update</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h2 class="text-center">{% if request.user == user_obj %}Your {% else %}{{ user_obj }}'s {% endif %}Ads/announcements: </h2>
            {% include 'partial/advert_list.html' %}
            {% include 'partial/paginate.html' %}
        </div>
    </div>
{% endblock content %}